<div style="padding-top: 1%" class="weui-cells__title">大作业情况</div>
    <div  class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
            <a href="javascript:void(0);"  ng-repeat="x in files" ng-click="adminviewfile(x.fileName)" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__bd">
                    <article class="weui-article">
                        <section>
                            <p>
                                {{x.fileName}}
                            </p>
                        </section>
                    </article>
                </div>
            </a>
        </div>
    </div>