<div class="weui-tab">
    <div class="weui-navbar">
        <a class="weui-navbar__item {{tab1Active}}" ng-click="onShowTab1()"href="javascript:void(0)">
            布置作业
        </a>
        <a class="weui-navbar__item {{tab2Active}}" ng-click="onShowTab2()" href="javascript:void(0)">
            作业情况
        </a>

    </div>
    <div class="weui-tab__bd">
        <div ng-show="showTab1==1">
            <div class="weui-cells__title">布置作业</div>
            <form name="form">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" ng-required="true" ng-model="task.content" placeholder="请输入作业" rows="3"></textarea>
                        <div class="weui-textarea-counter"><span>0</span>/200</div>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <button type="submit" class="weui-btn weui-btn_primary" ng-disabled="form.$invalid" ng-click="add()" id="showTooltips">确定</button>
            </div>
            </form>
            <div style="padding-top: 5%" class="weui-cells__title">已经布置的作业,点击可删除</div>
            <div  class="weui-panel weui-panel_access" ng-repeat="x in tasks">
                <div class="weui-panel__bd" >

                    <a href="javascript:void(0);" ng-click="delete(x.id)" class="weui-media-box weui-media-box_appmsg">

                        <div class="weui-media-box__bd">
                            <article class="weui-article">
                                <section>
                                        <p>
                                            {{x.content}}
                                        </p>
                                </section>
                            </article>
                        </div>
                    </a>
                </div>

            </div>

        </div>
        <div ng-show="showTab2==1">
            <div  class="weui-cells__title">点击查看</div>
            <div class="weui-cells" >

                <a class="weui-cell weui-cell_access" ng-repeat="x in students" href="#/task/content?sid={{x.id}}">
                    <div class="weui-cell__bd">
                        <p>{{x.name}}</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>

            </div>

        </div>

    </div>
</div>