<div style="padding-top: 4%" class="weui-cells__title">请输入学号和姓名,只能添加到最新的班级</div>
<form name="form">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
            <div class="weui-cell__bd">
                <input ng-required="true" class="weui-input" ng-model="student.studentId" type="number" pattern="[0-9]*"
                       placeholder="请输入学号">
            </div>

        </div> <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
        <div class="weui-cell__bd">
            <input ng-required="true" class="weui-input" ng-model="student.name" type="text"
                   placeholder="请输入姓名">
        </div></div>
    </div>
    <div class="weui-btn-area">
        <button type="submit" ng-disabled="form.$invalid" class="weui-btn weui-btn_primary" id="showTooltips" ng-click="addStudent()">确定</button>
    </div>
</form>